form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 70px 20px 0 20px;
    font-size: 0.85rem;
    letter-spacing: 1px;
    width: 372px;
}

label {
    color: hsl(278, 68%, 11%);
}

label div{
    padding-bottom: 8px;
}

.input-fields {
    height: 5vh;
    width: 372px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
}

.month-field {
    width: 83px;
    margin-right: 10px;
}

.year-field {
    width: 83px;
    margin-right: 10px;
}

.CVC-field {
    width: 186px;
}

.date-cvc-label {
    width: 100vw;
}

.date-cvc-name span{
    padding-left: 40px;
}

::placeholder {
    color: hsl(279, 6%, 55%);
    font-family: 'Space Grotesk', sans-serif;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    opacity: 50%;
}

.btn-primary {
    height: 5vh;
    background-color: hsl(278, 68%, 11%);
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    width: 100%;
}

@media only screen and (min-width: 1300px) and (max-width: 1550px){
    .formdiv {
        margin-left: 30rem;
    }
}


@media only screen and (min-width: 820px) and (max-width: 1300px) {

    form {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 15rem;
    }
}
@media only screen and (min-width: 1300px) {
    form {
        display: flex;
        justify-content: center;
        margin: 0;
    }

}