.card-front-view {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background: url('../../images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: 18.5rem;
    height: 11rem;
    width: 20rem;

}

.circles {
    display: flex;
    align-items: center;
    gap: 10px;
}

.big-circle {
    background: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.hollow-circle {
    border: 1px solid white;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.card-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-number {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 0.6rem;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}

@media only screen and (min-width: 1300px) {
    .card-front-view {
        padding: 30px;
        gap: 65px;
        background-size: contain;
        height: 250px;
        width: 450px;
    }

    .circles {
        gap: 15px;
    }

    .big-circle {
        height: 45px;
        width: 45px;
    }

    .hollow-circle {
        height: 18px;
        width: 18px;
    }

    .card-information {
        gap: 20px;
    }

    .card-number {
        font-size: 1.75rem;
    }

    .card-details {
        padding: 0;
        justify-content: space-between;
        gap: 0rem;
        font-size: 0.9rem;
    }


}