.CardBackView {
    background: url('../../images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: 17rem;
    height: 158px;
}

.cvc-number {
    padding-top: 4.1rem;
    padding-left: 13.2rem;
    color: white;
    letter-spacing: 2px;
    font-size: 0.7rem;
}

@media only screen and (min-width: 1300px) { 
    .CardBackView {
        background: url('../../images/bg-card-back.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 250px;
        width: 450px;
    }
    
    .cvc-number {
        padding-top: 7rem;
        padding-left: 22.5rem;
        color: white;
        font-size: 1rem;
    }
}